[mysqld]
# 服务器唯一ID，从库用2
server-id = 2

# 从库也开启二进制日志（可选，用于级联复制）
log-bin = mysql-bin

# 开启中继日志（从库接收主库日志用）
relay-log = relay-bin

# 只复制这个数据库
replicate-do-db = ecommerce

# 从库设为只读（防止误写）
read-only = 1

# 字符集
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
